.gameMainWrapper{
    display: flex;
    height: calc(100vh - 64.89px);
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.gameWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(26, 62, 121);
    padding: 30px 0px;
    box-shadow: 0px 0px 10px 4px;
    border-radius: 20px;
}

.gameTop{
    display: flex;
    gap: 25px;
}

.gameBottom{
    display: flex;
    gap: 13px;
    justify-content: center;
}

.symbolsContainer{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bombContainer{
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    min-width: 70px;
    min-height: 70px;
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}

.bombContainer:hover{
    transform:scale(1.1);
    background-color: rgb(34, 64, 117);
}

.gameSwitchAmount{
    display: flex;
}

.gameSwitchAmount div{
    background-color: white;
    display: flex;
    align-items: center;
    transition: background 0.3s;
    cursor: pointer;
    border: 1px solid rgb(5, 24, 56);
    padding: 1px;
}

.gameSwitchAmount div * {
    color: black;
}

.gameSwitchAmount div:first-of-type{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.gameSwitchAmount div:first-of-type:hover{
    background-color: rgb(26, 62, 121);
}

.gameSwitchAmount div:hover *{
    color: white;
}

.gameSwitchAmount div:last-of-type{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.gameSwitchAmount div:last-of-type:hover{
    background-color: rgb(26, 62, 121);
}


.gameBombAmountWrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 5px 15px 5px 15px;
    align-items: center;
    gap: 7px;
}

.inputAmount{
    font-size: 1.2rem;
    width: 20%;
    padding-left: 5px;
}

.hideBomb img{
  display: none;
}

.showWrapper{
    background-color: rgb(56, 126, 56);
}

.showWrapper:hover{
    background-color: rgb(56, 126, 56);
}

.showBomb{
    background-color: rgb(146, 41, 41);;
}

.showBomb:hover{
    background-color: rgb(146, 41, 41);;
}


@media screen and (min-width: 1001px) {
    .gameMainWrapper {
      pointer-events: all !important;
      opacity: 1 !important;
    }
  }