.btn {
    padding: 12px;
    font-size: 1rem;
    background-color: rgb(26, 62, 121);
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    transition: background 0.3s;
}

.btn-right{
    margin-right: 1rem;
}


.btn:disabled{
  background-color: rgb(79, 90, 109);
  cursor: not-allowed;
  color: white;
}


.easy{
  background-color: rgb(56, 126, 56);
  color: white;
}

.medium{
  background-color: rgb(145, 101, 35);
}

.hard{
  background-color: rgb(146, 41, 41);
}