.btn {
    padding: 12px;
    font-size: 1rem;
    background-color: rgb(26, 62, 121);
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn-right{
    margin-right: 1rem;
}

.btn:hover{
  color: black;
  background: white;
  border-color: rgb(26, 62, 121);
  cursor: pointer;
}

.btn:disabled{
  background-color: rgb(79, 90, 109);
  cursor: not-allowed;
  color: white;
}