.main-register-wrapper{
    height: 100vh;
    background: radial-gradient(circle, rgba(11,58,96,1) 33%, rgba(24,84,133,1) 46%, rgba(28,93,203,1) 64%, rgba(32,68,126,1) 78%);
    display: flex;
    align-items: center;
    width: calc(100vw - 240px);
    position: absolute;
    left: 240px;
    z-index: -1000;
    justify-content: center;
    background-position: center;
}

.register-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.register-form{
    display: flex;
    flex-direction: column;
    background-color: color;
    box-shadow: 0px 0px 10px 4px rgb(40, 100, 196);
    background-color: white;
    padding: 25px;
    font-size: 1.2rem;
    gap: 50px;
    border-radius: 10px;
}

.register-form-field{
    display: flex;
    flex-direction: column;
}

.register-form-title{
    text-align: center;
}

.input{
    padding: 10px 10px 2px 0px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.input:not(:focus) ~ p{
    display: block;
}